<% include partials/header %>


<div class="container-fluid">   
    <nav class="navbar navbar-expand-lg sticky-top row" id="navvy">
        <div class="container">
            <a  href="/" class="navbar-brand">
                Track My Cash
            </a>

            <button class="navbar-toggler" data-toggle="collapse" data-target="#collapse_target">
                <img src="https://cdn1.iconfinder.com/data/icons/web-and-user-interface-21/512/32-512.png" height="30" alt="">
            </button>

            <div class="collapse navbar-collapse" id="collapse_target">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="" class="nav-link">Welcome, <%= user.username %>!</a>
                    </li>
                    <li class="nav-item">
                        <a href="/logout" class="nav-link">Log Out</a>
                    </li>
                </ul>
            </div>
        </div>
  </nav>
</div>
  
  
  
<div class="container">
    
    <div class=" mt-5 row text-center">
        <div class="col-md-5">
            <form id="bank" action="/bankname?_method=PUT" method="POST">
                <input class="name-input" name="bankname" type="text" placeholder="Rename Bank" value="<%= user.bank.name %>">
            </form>
            <img src="images/bankIcon.png" height="65px">
            <h3 class="display-money">$<%= (user.bank.balance).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')  %></h3>
            <form action="/deposit?_method=PUT" method="POST">
                <input class="money-input" name="deposit" type="number" step="0.01" placeholder="Deposit">
            </form>
        </div>
        <div class="col-md-7">
            <form action="/newcard" method="POST">
                <input id="new-card-input" type="text" name="card[name]" placeholder="New Card">
            </form>
            
            
            <div class="row">
                <% cards.forEach(function(card){%>
                    <div class="col-md-6  mb-5 mt-4">
                        <div class="row" id="credit-card">
                            <div class="col-4">
                                <form action="/card/<%= card._id%>?_method=DELETE" method="POST">
                                    <input type="image" src="images/trashIcon.png" height="30px">
                                </form>
                                
                            </div>
                            <div class="col-4">
                                
                                    <img src="images/cardIcon.png" height="65px">
                                
                            </div>
                            <div class="col-4">
                                <form action="/card/<%= card._id%>/reset?_method=PUT" method="POST">
                                    <input type="image" src="images/resetIcon.png" height="30px">
                                </form>
                            </div>
                        </div>
                        
                        
                        <form action="/card/<%= card._id%>/edit_name?_method=PUT" method="POST">
                            <input autocomplete="off" class="name-input" id="renameForm" name = "card[name]" type="text" placeholder="Rename" value="<%= card.name%>">
                        </form>
                        <h3 class="display-money">$<%= (card.credit).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')  %></h3>
                        <form action="/card/<%= card._id%>/purchase?_method=PUT" method="POST">
                            <input class="money-input" type="number" step="0.01" name="purchase" placeholder="Purchase">
                        </form>
                    </div>
                <% }); %>
            </div>
        </div>
    </div>
                
            
            
            
            
            
</div>
  
  
  






<% include partials/footer %>