<% include partials/header %>
funds
<a href="/logout">Log Out</a>
<h1><%= user.username %></h1>


<form action="/bankname?_method=PUT" method="POST">
    <input name="bankname" type="text" placeholder="rename">
    <input type="submit" value="Change">
</form>
<p>Bank Name: <%= user.bank.name %></p>
<p>Bank Balance: <%= user.bank.balance %></p>
<form action="/deposit?_method=PUT" method="POST">
    <input name="deposit" type="number" placeholder="deposit">
    <input type="submit" value="deposit">
</form>

<form action="/newcard" method="POST">
    <input type="text" name="card[name]" placeholder="New card Name"> 
    <input type="submit" value="Create">
</form>

<h1>Cards</h1>
<% cards.forEach(function(card){%>
    <p><%= card.name%></p>
    <p><%= card.credit%></p>
    <form action="/card/<%= card._id%>?_method=PUT" method="POST">
        <input type="number" name="purchase" placeholder="placeholder">
        <input type="submit" value="purchase">
    </form>
    
<% }); %>

<% include partials/header %>